.container {
    // center things left to right
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.content {
    // Flex Grow creates the sticky footer
    flex-grow: 1;
}